<!-- Info Modal -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div style="background-color:rgb(62, 64, 65);" class="modal-content">
      <div class="modal-header">
        <h5 style="color: white;" class="modal-title" id="ModalLabel">{{ item.name }}</h5>
      </div>
      <div style="color: white;" class="modal-body">
        {{ item.description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Purchase Confirmation Modal -->
<div class="modal fade" id="Modal-Purchase-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div style="background-color:rgb(62, 64, 65);" class="modal-content">
      <div class="modal-header">
        <h5 style="color: white;" class="modal-confirm" id="ModalLabel">Are you sure you want to purchase {{ item.name }}‽</h5>
      </div>
      <div style="color: white;" class="modal-body">
        This action will cost you {{ item.price }}$
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Purchase</button>
      </div>
    </div>
  </div>
</div>