<!-- Info Modal -->
<div class="modal fade" id="Modal-MoreInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div style="background-color:rgb(62, 64, 65);" class="modal-content">
      <div class="modal-header">
        <h5 style="color: white;" class="modal-title" id="ModalLabel">Item Info</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="color: white;" class="modal-body">
        Info for item
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--button type="button" class="btn btn-primary">Save changes</!--button-->
      </div>
    </div>
  </div>
</div>