<!-- Info Modal -->
<div class="modal fade" id="Modal-MoreInfo-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div style="background-color:rgb(62, 64, 65);" class="modal-content">
        <div class="modal-header">
          <h5 style="color: white;" class="modal-title" id="ModalLabel">{{ owned_item.name }}</h5>
        </div>
        <div style="color: white;" class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>