<div class="modal fade" id="Modal-SellingConfirm-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div style="background-color:rgb(62, 64, 65);" class="modal-content">
        <div class="modal-header">
          <h5 style="color: white;" class="modal-title" id="ModalLabel">{{ owned_item.name }}</h5>
        </div>
        <div style="color: white;" class="modal-body">
          
        </div>
          <form method="POST">
            {{ sell_form.hidden_tag() }}
            <h4 class="text-center" style="color:white">This action will remove your item and refund you <b>{{ owned_item.price }}$</b></h4> <br>
            <h6 class="text-center" style="color:white">By clicking Sell you agree to sell this item and acknowledge that <b>there are no refunds</b></h6> <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input id="sold_item" name="sold_item" type="hidden" value="{{ owned_item.name }}">
              {{ sell_form.submit(class="btn btn-outline-success btn-block") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>