<!-- This extends the base.html file so that we don't have to rewrite the entire html code over and over again. -->
{% extends "base.html" %}
{% block nav_home %}
    active
{% endblock %}

<!-- This is the title block where we enter a title for the current page, the data is then added to the base.html but only when this page is displayed. -->
{% block title %}
    Home Page
{% endblock %}

<!-- This is the content block where we enter the content we want on the current page, the data is then added to the base.html but only when this page is displayed. -->
{% block content %}
    <div style="color: white">
        <h1 class="text-center">Hello {% if not (current_user.is_authenticated) %} world {% else %} {{ current_user.username }} {% endif %}</h1>
    </div>
{% endblock %}